.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	background: white;
	border: 5px solid $primary-color;
	div {
		width: 30px;
		height: 30px;
		margin: 0;
		padding: 0;

		text-align: center;
		border-radius: 15px;
	}
	span {
		line-height: 30px;
		font-weight: bolder;
	}
}