.map-container, #map {
    height: 100%;
    width: 100%;
}

.platform-ios .map-container {
    height: calc(100% - 50px);
}

.switch-button {
    position: absolute;
    z-index: 1;
    height: 4rem;
    width: 4rem;
    bottom: 2rem;
    right: 2rem;
    border-radius: 50%;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    > i, > span {
        display: block;
    }
    .cycle-view & {
        background: $secondary-color;
    }
    .parks-view & {
        background: $primary-color;
    }
}

.tab-item {
    opacity: 0.4;
    max-width: none;
}

.switch-tabs {
    .tabs {
        padding-top: 0;
    }
    .tab-item.cycle {
        color: $primary-color;
        border-color: $primary-color;
    }
    .tab-item.parks {
        color: $secondary-color;
        border-color: $secondary-color;
    }
}

@import "_markers";
@import "_clusters";