<ion-view>
    <ion-content>
        <div class="header">
            <h1>{{station.name}}</h1>
            <div class="fav-toggle" ng-class="{isFav: isInFavorites(station)}" ng-click="switchFavorite()">
                <i ng-if="!isInFavorites(station)" class="icon ion-android-star-outline"></i>
                <i ng-if="isInFavorites(station)" class="icon ion-android-star"></i>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card cycles">
                    <i class="icon ion-android-bicycle"></i>
                    <h2>{{station.available_bikes}}</h2>
                </div>
            </div>
            <div class="col">
                <div class="card parks">
                    <i class="icon">P</i>
                    <h2>{{station.available_bike_stands}}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card distance">
                    <i class='icon ion-android-walk'></i>
                    <h3>{{distanceToStation}}</h3>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>