<ion-view ng-class="currentView + '-view'">
    <ion-nav-title>
        Map
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button ng-if="isIOS" class="button button-clear icon ion-ios-navigate-outline" ng-click="showLocation()"></button>
        <button ng-if="!isIOS" class="button button-clear icon ion-pinpoint" ng-click="showLocation()"></button>
        <button ng-if="isIOS" class="button button-clear icon ion-ios-refresh-empty" ng-click="loadStations(true)"></button>
        <button ng-if="!isIOS" class="button button-clear icon ion-android-refresh" ng-click="loadStations(true)"></button>
    </ion-nav-buttons>
    <div class="map-container" data-tap-disabled="true">
        <div id="map"></div>
    </div>
    <div ng-if="isIOS" class="tabs-striped switch-tabs" ng-class="{'tabs-color-cycles': currentView === 'cycle', 'tabs-color-parks': currentView === 'parks'}">
        <div class="tabs">
            <a class="tab-item cycle" ng-class="{'active': currentView === 'cycle'}" href="#" ng-click="switchView()">
                <i class="icon ion-android-bicycle"></i>
                Bikes
            </a>
            <a class="tab-item parks" ng-class="{'active': currentView === 'parks'}" href="#" ng-click="switchView()">
                <i class="icon">P</i>
                Stands
            </a>
        </div>
    </div>
    <button ng-if="!isIOS" class="switch-button button" ng-click="switchView()">
        <i ng-if="currentView === 'parks'" class="icon ion-android-bicycle"></i>
        <span ng-if="currentView === 'cycle'">P</span>
    </button>
</ion-view>