<ion-view>
    <ion-nav-title>
        Favorites
        <span ng-if="numberOfFavorites > 0" class="favorites-counter_header"> {{$root.numberOfFavorites}}</span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button ng-if="isIOS" class="button button-clear icon ion-ios-refresh-empty" ng-click="updateFavorites(true)"></button>
        <button ng-if="!isIOS" class="button button-clear icon ion-android-refresh" ng-click="updateFavorites(true)"></button>
        <button ng-if="isIOS" class="button button-clear icon ion-ios-more" ng-click="openPopover($event)"></button>
        <button ng-if="!isIOS" class="button button-clear icon ion-android-more-vertical" ng-click="openPopover($event)"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher ng-if="favorites.length > 0"
            pulling-text="Pull to refresh..."
            on-refresh="updateFavorites(true)">
        </ion-refresher>
        <div ng-if="favorites.length === 0" class="no-favorites">
            <span>You don't have any favorite yet</span>
        </div>
        <ion-list ng-if="favorites.length > 0" can-swipe="true">
            <ion-item ng-repeat="fav in favorites | orderBy: currentOrdering" class="favorite" ui-sref="root.station({stationId: fav.number})">
                <div class="numbers">
                    <div class="cycles">
                        <span>{{fav.available_bikes}}</span>
                        <i class="icon ion-android-bicycle"></i>
                    </div>
                    <div class="parks">
                        <span>{{fav.available_bike_stands}}</span>
                        <i class="icon">P</i>
                    </div>
                </div>
                <div class="infos">
                    <div class="name"><h2>{{fav.name}}</h2></div>
                    <div class="address"><p>{{fav.address}}</p></div>
                    <div class="distance">{{fav.distance}}</div>
                </div>
                <div class="actions">
                    <button ng-if="!isIOS" class="remove button button-clear icon ion-trash-b" ng-click="removeAFavorite($event, fav)"></button>
                    <button ng-if="isIOS" class="remove button button-clear icon ion-ios-trash-outline" ng-click="removeAFavorite($event, fav)"></button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>